<!DOCTYPE html>
<html>
  <head>
    <!-- Tab Title -->
    <title>Echo Chamber</title>
    <!-- Favicon -->
    <link rel="icon" href="assets/images/newspaper_icon.png">
    <!-- View Port Size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Materialize - Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- Materialize - Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
  
    <!-- Nav Bar -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper blue darken-3">
          <a href="/" class="brand-logo">Echo Chamber<i class="material-icons">search</i></a>
          <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
          	<li><a href="#" target="_new">Saved Articles</a></li>
            <li><a href="http://www.echojs.com/" target="_new">Echo JS</a></li>
            <li><a href="https://github.com/ajseidner" target="_new">Github Repo</a></li>
          </ul>
        </div>
      </nav>
    </div>


    <!-- Page Content -->
    <main> 

      
      <div class="jumbotron">
        <ul class="collection with-header">
          <li class="collection-header blue lighten-2"><h4><b>Welcome to the Echo Chamber!</b></h4></li>
          <li class="collection-item">This application links to and lets you comment on articles from Echo JS.</li>
          <li class="collection-item"><div>Click <i class="material-icons">search</i> in the navbar to re-scrape data.</div></li>
          <li class="collection-item"><div>Click an article title to view the link to original article and to save article.</div></li>
          
        </ul>
      </div>


      <!-- Render All Articles -->
      <div class="container">
        {{{body}}}
      </div>

    </main>

    <!-- Link in jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Materialize - Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <!-- Basic Page JavaScript for Repsonsiveness -->
   <!-- <script type="text/javascript" src="public/app.js"></script> -->
    
  </body>

</html>